body 
{
    background: #CCC;
}

#Header .a:hover
{
    color: #FFF;
}

#bg-img
{
    background: url("../images/concrete_seamless.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

/* About */

#About
{
    margin-top: -200px;
}

#About .fa
{
    color: #FFF;
}

#About span
{
  padding: 10px 20px 10px 20px;  
}

#About hr
{
    border-width: 3px;
    margin-top: 06px;
}

/* Skills */

#Skills span
{
    padding: 10px 20px 10px 20px; 
}

#Skills hr
{
    border-width: 3px;
    margin-top: 06px; 
}

/* Experience */

#Experience span
{
    padding: 10px 20px 10px 20px;
} 

#Experience hr
{
    border-width: 3px;
    margin-top: 06px; 
}

#Experience .card
{
    border-top: 03px solid #d63031;
}

/* Contact */

#Contact hr
{
    padding: 10px 20px 10px 20px;
}

/* Footer */

.footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }

  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
  }
  