body {
    Font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.max-viewport {
    min-height: 100vh
}

#banner,
#contact,
#social {
    Background: linear-gradient(rgba(#ffffff),rgba(#ffffff));
    Background: url("assets/images/concrete_seamless.png");
    Background-attachment: fixed;
    Background-position: center;
    Background-repeat: no-repeat;
    background-size: cover;
}